/*

Volton Template

http://www.templatemo.com/tm-441-volton

*/

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: url("../fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*---------------------------------------------------------
 1. Reset
-------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
* { box-sizing: border-box; }

main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]:-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/*---------------------------------------------------------
 2. Basic Style
-------------------------------------------------------- */
body {
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  font-family: 'robotoregular';
  overflow-x: hidden;
}

a {
  color: #353535;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #ffc638;
}

h1, h2, h3, h4, h5 {
  color: #323232;
}

::-webkit-input-placeholder {
  color: #7a7c7c;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #7a7c7c;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #7a7c7c;
}

:-ms-input-placeholder {
  color: #7a7c7c;
}

.text-muted {
  color: #7a7c7c;
}

.form-control {
  border:1px solid #afb0b0;
  color: #7a7c7c;
}

small {
  font-size: 85%;
}

.btn {
  background-color: transparent;
  border: 1px solid #afb0b0;
  color: #353535;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary.active {
  color: #323232;
  background-color: #f9da2b;
  border-color: #323232;
}

.disabled {
  color: #e5e6e6 !important;
}

.disabled:hover, 
.disabled:active, 
.disabled:focus {
  background-color: unset !important;
} 

.main-content,
.banner-bg {
  float: right;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.content-wrapper {
  padding: 0 80px;
}

h4.widget-title {
  font-size: 16px;
  font-family: 'robotobold';
  text-transform: uppercase;
  margin-bottom: 20px;
}

hr {
  position: relative;
  outline: 0;
  border: 0;
  width: 100%;
  height: 4px;
  background: #7a7c7c;
  margin-top: 40px;
  margin-bottom: 0;
}

/* Overwrite the default to keep the scrollbar always visible */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(	175	176	176,.5);
}

/*---------------------------------------------------------
 3. Header
-------------------------------------------------------- */
.sidebar-menu {
  float: left;
  width: 23%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  color: #323232;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu {
  position: fixed;
  z-index: 9998;
}

.menu nav {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}

.menu input#slide:checked ~ nav {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}

.menu label {
  position: fixed;
  font-size: 30px;
  cursor: pointer;
  z-index: 9999;
  color: #afb0b0;
  border-right: 1px solid #afb0b0;
  border-bottom: 1px solid #afb0b0;
}

.menu input#slide {
  display: none;
}

.menu input#slide:checked ~ label.open i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #353535;
}

.menu label i,
.menu nav,
.menu nav ul li a span {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu label,
.menu nav ul li a i,
.menu nav ul li a span {
  line-height: 60px;
  text-align: center;
  width: 60px;
  height: 60px;
}

.menu label:hover, .menu label:focus, .menu label:active {
  color: #323232;
  background-color: #f9da2b;
  border-color: #323232;
}

.menu.top {
  top: 0;
}

.menu.bottom {
  bottom: 0;
}

.menu.right,
.menu.right label {
  right: 0;
}
.menu.left.horizontal nav {
  margin-left: -350px;
}

.menu.left.horizontal input#slide:checked ~ nav {
  margin-left: 0px;
}

.top-section {
  padding: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
}
.profile-image img {
  width: 100%;
}

h3.profile-title {
  margin-bottom: 5px;
  color: #323232;
  font-size: 18px;
  font-family: 'robotobold';
  text-align: center;
}
.main-navigation {
  overflow-y: auto;
  border-top: 1px solid #afb0b0;
  border-bottom: 1px solid #afb0b0;
}

.main-navigation li {
  display: block;
}
.main-navigation li a {
  padding: 15px 40px;
  display: block;
  color: #353535;
  font-size: 24px;
}
.main-navigation li a i {
  margin-right: 15px;
  font-size: 24px;
}
.main-navigation li a:hover {
  background: #e5e6e6;
}
.main-navigation li a.active {
  background: #f9da2b;
  color: #323232;
}
.main-navigation li a.active:hover {
  background: #f9da2b;
}

.social-icons {
  display: block;
  padding: 20px;
  width: 100%;
}
.social-icons li {
  display: inline-block;
  margin-right: 9px;
}
.social-icons a {
  font-size: 44px;
  color: #323232;
}
.social-icons a:hover {
  color: #7a7c7c;
}

.responsive-header {
  background: #5f6d7e;
  text-align: center;
}

.toggle-menu {
  width: 100%;
  display: block;
  padding: 20px;
  margin-top: 30px;
  background: #6cc0f7;
  color: white;
  font-size: 18px;
}
.toggle-menu:hover {
  color: white;
}

/*---------------------------------------------------------
 4. Main Content
-------------------------------------------------------- */
/*------ banner ------ */
.banner-bg {
  padding: 260px 80px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.banner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(229, 230, 230, 0.4);
  top: 0;
  left: 0;
  z-index: 3;
}

.welcome-text {
  position: relative;
  z-index: 4;
  margin: 0 25%;
  text-align: center;
}
.welcome-text h2 {
  font-size: 42px;
  font-family: 'robotobold';
  color: white;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.welcome-text h5 {
  font-size: 22px;
  color: white;
}

/*------ projects ------ */
.projects-holder {
  margin-right: 0;
  margin-left: 0;
  margin-top: 40px;
}
.projects-holder .col-md-4,
.projects-holder .col-md-4 {
  padding-right: 1px;
  padding-left: 1px;
}

.project-item {
  width: 100%;
  margin-bottom: 2px;
  overflow: hidden;
  position: relative;
}
.project-item img {
  width: 100%;
  display: block;
}
.project-item:hover .project-hover {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.project-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40px;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: 0;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.project-hover .inside {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 30px;
}
.project-hover h5 {
  font-size: 16px;
  margin-bottom: 15px;
}
.project-hover h5 a {
  color: white;
}
.project-hover p {
  color: white;
  font-size: 13px;
  line-height: 20px;
}

/*------ contact ------ */
.contact-form {
  margin-top: 40px;
}
.contact-form input, .contact-form textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #aaaaaa;
  padding: 12px;
  color: #7a7c7c;
  margin-bottom: 30px;
}
.contact-form input:focus, .contact-form textarea:focus {
  outline: 0;
}
.contact-form .button {
  width: auto;
  background: #5f6d7e;
  color: white;
  text-transform: uppercase;
  border: 0;
}

/*---------------------------------------------------------
 6. Background Video
-------------------------------------------------------- */
.video-background {
  background: #000;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}

.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

/*---------------------------------------------------------
 6. Info Pages
-------------------------------------------------------- */

.share-info {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 30px;
  z-index: 9998;
}

.share-info ul li {
  float: left;
}

.share-info ul li a {
  border-bottom: 1px solid #afb0b0;
  border-left: 1px solid #afb0b0;
  color: #afb0b0;
  padding: 15px;
  display: block;
}

.share-info ul li a:hover, .share-info ul li a:focus, .share-info ul li a:active{
  color: #323232;
  background-color: #f9da2b;
  border-color: #323232;
}
.share-info ul li a .fa {
  margin-right: 20px;
}

/*---------------------------------------------------------
 5. Modal
-------------------------------------------------------- */

.share-modal {
  background-color: rgba(255,255,255,.8);
  border: 1px solid #afb0b0;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px 30px 85px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 50%;
  height: 60%;
}

.preview-image {
  overflow: hidden;
  border: 1px solid #afb0b0;
}

.preview-image img {
  width: 100%;
  display: block;
}

.share-modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  border-top: 1px solid #afb0b0;
}
.share-modal-footer p.copyright-text {
  margin: 40px 0;
  font-size: 13px;
}
.share-modal-footer p.copyright-text a {
  color: #5f6d7e;
}
.share-modal-footer p.copyright-text a:hover {
  color: #6cc0f7;
}
.social-media-options .fa-fw {
  font-size: 44px;
}

.social-media-options input[type="radio"] + .fa,
.social-media-options input[type="radio"] + label > .fa { cursor: pointer; }

/* Unchecked */
.social-media-options input[type="radio"] + .fa-facebook-square:before,
.social-media-options input[type="radio"] + label > .fa-facebook-square:before { content: "\f082"; color: #afb0b0; }

.social-media-options input[type="radio"] + .fa-twitter-square:before,
.social-media-options input[type="radio"] + label > .fa-twitter-square:before { content: "\f081"; color: #afb0b0; }

.social-media-options input[type="radio"] + .fa-instagram:before,
.social-media-options input[type="radio"] + label > .fa-instagram:before { content: "\f16d"; color: #afb0b0; }

.social-media-options input[type="radio"] + .fa-youtube-square:before,
.social-media-options input[type="radio"] + label > .fa-twitter-youtube:before { content: "\f166"; color: #afb0b0; }

/* Checked */
.social-media-options input[type="radio"]:checked + .fa-facebook-square:before,
.social-media-options input[type="radio"]:checked + label > .fa-facebook-square:before { content: "\f082"; color: #ff9900; }

.social-media-options input[type="radio"]:checked + .fa-twitter-square:before,
.social-media-options input[type="radio"]:checked + label > .fa-twitter-square:before { content: "\f081"; color: #ff9900; }

.social-media-options input[type="radio"]:checked + .fa-instagram:before,
.social-media-options input[type="radio"]:checked + label > .fa-instagram:before { content: "\f16d"; color: #ff9900; }

.social-media-options input[type="radio"]:checked + .fa-youtube-square:before,
.social-media-options input[type="radio"]:checked + label > .fa-youtube-square:before { content: "\f166"; color: #ff9900; }

